@charset "utf-8";

body {
  font-family: sans-serif;
}

main {
  width: 90%;
  margin: 0 auto;
}


header {
  margin: 20px auto;
  text-align: center;
  background-color: #cccff;
  padding: 20px;
 /* width: 60%;*/
}

.table-list {
  margin-top: 20px;
  }

thead {
  background: #4d004d;
  color: #fff;
  }

footer {
  text-align: center;
  background-color: #ccc;
  padding: 30px;
  margin-top:30px;
}
