@charset "utf-8";

body {
  font-family: sans-serif;
  color: #604020;
  background: #f1e4da;
}

main {
  width: 90%;
  margin: 0 auto;
}


header {
  margin: 20px auto;
  text-align: center;
  padding: 20px;
 /* width: 60%;*/
}

.btn-group {
  backgroung: #88cc00;
  color: #4d3319;
}

.table-list {
  margin-top: 20px;
  }

thead {
  background: #4d3319;
  color: #fff;
  }

thead td {
  font-size: 0.7em;
  }

footer {
  text-align: center;
  background-color: #ccc;
  padding: 30px;
  margin-top:30px;
}
